@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab:wght@400;700&family=Roboto:wght@300;400;700&display=swap');
:root {
  --primary-color: #4a302c;
  --secondary-color: #707070;
  --highlight-color: #e68100;
  --section-background: #fef8f1;
  --secondary-section: #fffcf9;
  --footer-color: #161616;

  /* fonts */
  --lato-font: 'Lato', sans-serif;
  --roboto-font: 'Roboto', sans-serif;
  --roboto-slab: 'Roboto Slab', serif;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 62.5%; /* 1rem = 10px */
  /* For tab screen: font-size: 56.25%;
        For Mobile Screen: font-size: 50%;
    */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--roboto-font);
}
p{
  font-family: var(--roboto-font);
}
h1{
  font-family: var(--roboto-slab);
  font-weight: bold;
}
section h3, h2{
  font-weight: bold;
  font-family: var(--roboto-slab);
}
 
/* -------------- Header ----------------------  */
.header {
  width: 100%;
  background-color: var(--section-background);
  position: relative;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 14.2rem;
  background-color: var(--section-background);
}
.brand-logo {
  margin: 0.5rem 0;
}
.nav__lists {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 2rem;
  font-weight: bold;
  font-family: var(--roboto-slab);
}
.nav-item a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.8rem;
  transition: all 0.2s ease;
}
.nav-item a:hover {
  cursor: pointer;
  font-weight: bold;
  color: var(--secondary-color);
  box-shadow: 0 0.1rem 0.3rem rgba(255, 255, 255, 0.2);
  border: none;
}
.hamburger-icon{
  position: absolute;
  font-size: 3rem;
  border: 0;
  color: var(--primary-color);
  background-color: var(--section-background);
  display: none;
  right: 1rem;
  bottom: 0.5rem;
  border-radius: 1rem;
}
@media only screen and (max-width: 768px){
  html {
    font-size: 56.25%; 
  }
  .nav__lists{
    display: none;
  }
  .hamburger-icon{
    display: block;
  }
  .nav__list__mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    right: 0;
    position: absolute;
    gap: 1rem;
    width: 100%;
    margin-top: 4.5rem;
    background-color: var(--section-background);
    z-index: 1;
    padding: 2rem;
  }
  .nav__list__mobile .nav__menu{
        width: 15rem;
        padding: 2rem;
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: 1px;
        position: relative;
  }
}
@media only screen and (max-width: 600px){
  html {
    font-size: 50%;
  }
  .nav__list__mobile{
    margin-top: 5rem;
  }
}

/* ------------End of Header --------------- */

/* ---------------Hero Section--------------- */
.hero-container {
  /* background: url("https://media.gettyimages.com/photos/sunrise-over-tea-farm-picture-id525321368?s=2048x2048") no-repeat center center; */
  background: url("./resources/edited.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.hero-content {
  width: 35rem;
  color: #fff;
  text-align: center;
}
.hero-content h1 {
  font-size: 4rem;
}
.hero-content p {
  font-size: 1.6rem;
}
.hero-button {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  letter-spacing: 0.3rem;
  border: 0.1rem solid #ffff;
  font-weight: bold;
}
.hero-button:hover {
  animation: pulsate 1s ease-in-out;
  cursor: pointer;
}
@keyframes pulsate {
  0% {
    box-shadow: 0 0 2.5rem var(--secondary-color), 0 0 5rem var(--primary-color);
  }
}
/* ---------------End of Hero Section--------------- */

/* ------------- Menu Section ------------------------- */
#menu-section{
  overflow-x: hidden;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / -1;
  grid-auto-flow: dense;
}
.grid-left {
  display: flex;
  position: relative;
}
#crossaintImage {
  height: 18rem;
  width: 18rem;
  position: absolute;
  left: -0.4rem;
  top: -0.2rem;
}
#coffeeImage {
  height: 16rem;
  width: 16rem;
  position: absolute;
  left: 6rem;
  top: 14rem;
}
#cupImage {
  width: 20rem;
  height: 20rem;
  position: absolute;
  left: 18rem;
  top: 6rem;
}
#sack-image {
  position: relative;
}
#sack {
  height: 40rem;
  width: 80rem;
  position: absolute;
  right: -40rem;
  top: -6rem;
}
.category-name h2 {
  margin-top: 6rem;
  text-transform: uppercase;
  font-size: 3rem;
  position: relative;
  color: var(--primary-color);
}
.category-name h2::after {
  content: "";
  position: absolute;
  width: 16rem;
  height: 0.2rem;
  left: 0;
  top: 4rem;
  background-color: var(--highlight-color);
}
.menu-item {
  margin-top: 6rem;
  position: relative;
}
.menu-title {
  position: relative;
  font-size: 1.6rem;
  color: var(--primary-color);
  position: relative;
}
.menu-title::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 0.1rem;
  background-color: var(--secondary-color);
  top: 1.2rem;
  margin-left: 0.5rem;
}
.menu-price {
  position: absolute;
  top: 0.2rem;
  right: 14rem;
  font-size: 1.6rem;
  color: var(--primary-color);
}
.menu-description {
  width: 30rem;
  font-size: 1.4rem;
  margin: 1rem 0;
  font-weight: 300;
  color: var(--highlight-color);
}
button {
  border: 0.2rem solid var(--primary-color);
  padding: 1rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}
button:hover {
  animation: pulsate 0.5s ease-in-out;
  cursor: pointer;
}
/* --slideshow--- */
.slideshow-container {
  position: relative;
  margin: auto;
}
.slides {
  display: none;
}
.carousel-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.dot {
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin: 0.5rem;
  background-color: #e5daca;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: var(--highlight-color);
}
/* fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 1100px){
  .menu-title::after{
    width: 40%;
  }
}
@media only screen and (max-width: 800px){
  .grid{
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .grid-left{
    display: none;
  }
  .menu-title::after{
    width: 40%;
  }
}
@media only screen and (max-width: 500px){
  .menu-title::after{
    width: 25%;
  }
}

/* ------------- End of Menu Section ------------------------- */
/* -----------Service Section----------------- */
#service-section,
#find-section {
  background-color: var(--section-background);
  padding: 1rem;
}
.service-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title {
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--primary-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
.section-title::after {
  content: "";
  position: absolute;
  width: 10rem;
  height: 0.2rem;
  background-color: var(--highlight-color);
  top: 8rem;
}
.services-item-container {
  margin: 2rem 0;
}
.service-item-container-1 {
  display: flex;
}
.service-item {
  width: 35rem;
  display: inline-block;
  padding: 0 8rem;
  text-align: center;
}
.service-image img {
  width: 15rem;
  height: 15rem;
}
.service-item h3 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}
.service-description {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--primary-color);
}
.service-item-container-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 15rem;
}
@media only screen and (max-width: 1100px){
  .service-item {
    width: 25rem;
    display: inline-block;
    padding: 0 4rem;
    text-align: center;
  }
  .service-item .service-item-3{
    display: block;
    margin-left: 30%;
  }
}
@media only screen and (max-width: 768px){
  .services-item{
    width: 20rem;
    display: inline-block;
    padding: 0 4rem;
    text-align: center;
  }
  .service-image img{
    width: 10rem;
    height: 10rem;
  }

  .service-item .service-item-3{
    margin-left: 40%;
  }
  .service-item-container-2{
    margin-left: 20%;
  }
  .services-item-container-1, .services-item-container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/* -----------End of Service Section----------------- */
/* -------------Testimonials Section------------------ */
#testimonials-section,
#menu-section,
#social-content {
  background-color: var(--secondary-section);
}
.testimonials-container {
  padding: 4rem 4rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
}
.frame {
  position: relative;
}
.card {
  border: 0.2rem solid var(--primary-color);
  border-top: none;
  width: 30rem;
  height: 20rem;
  position: relative;
}
.testimonail-frame {
  position: relative;
}
.testimonial-frame .quote-image {
  width: 2rem;
  height: 1.5rem;
  position: absolute;
  left: 4.2rem;
  top: -1rem;
}
.testimonial-frame::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  background-color: var(--primary-color);
}
.testimonial-frame::after {
  content: "";
  position: absolute;
  width: 23.2rem;
  height: 0.2rem;
  top: -0.1rem;
  left: 6.5rem;
  background-color: var(--primary-color);
}
.testimonials-card {
  width: 30rem;
  height: 20rem;
  padding: 2rem;
  display: inline-block;
  margin: 0 6rem;
}
.comment {
  margin: 0.5rem;
  line-height: 1.4rem;
  font-size: 1.2rem;
}
.client-details {
  position: relative;
  margin-top: 2.5rem;
}
.client-image .client {
  position: absolute;
  /* bottom: -2.5rem; */
  max-width: 4rem;
  max-height: 4rem;
}
.client-name h3 {
  position: absolute;
  left: 6rem;
  bottom: -1.8rem;
  font-size: 1.6rem;
  color: var(--primary-color);
}
.testimonials-content {
  position: absolute;
  top: 4rem;
}
.card-container{
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 1050px){
  .testimonials-container{
    padding: 2rem;
    height: 70rem;
  }
  .card-container{
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px){
  .testimonials-container{
    padding: 2rem;
    height: 70rem;
  }
  .card-container{
    display: flex;
    flex-direction: column;
  }
  .insta-images img {
    width: 14rem;
    height: 14rem;
  }
}
@media only screen and (max-width: 600px){
  #testimonials-section .section-title{
    font-size: 2rem;
  }
}
/* -------------End of Testimonials Section------------------ */
/* ----------- Find us Section -------------------- */
#find-section {
  background: var(--section-background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.find-background {
  width: 60rem;
  height: 30rem;
  background: url("./resources/map.png");
  background-size: cover;
  background-position: center;
}
.find-us-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60rem;
  height: 30rem;
  flex-direction: column;
  background: rgba(254, 248, 241, 0.9);
}
.find-us-content p {
  margin: 4rem 0;
  font-size: 1.8rem;
}
@media only screen and (max-width: 600px){
  .find-us-container .section-title{
    font-size: 2.5rem;
  }
  .find-background{
    width: 40rem;
  }
  .find-us-content{
    width: 40rem;
  }
  .find-us-content p{
    margin: 2rem 0;
  }
}
/* ----------- End of Find us Section -------------------- */
/* -------------Social Section------------ */
.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.hashed-description h2 {
  color: var(--primary-color);
  font-size: 3rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.hashed-description p {
  font-size: 1.4rem;
  color: var(--primary-shadow);
  margin-bottom: 4rem;
}
.instaImage-container {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}
.insta-images {
  padding-bottom: 4rem;
  display: inline-block;
}
.insta-images img {
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  display: inline-block;
}
.social-section-bean {
  position: absolute;
  bottom: 10rem;
  right: 0;
  width: 5rem;
}

/* -------------End of Social Section------------ */
/* -------------Footer Section ----------------- */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  position: relative;
  background-color: var(--footer-color);
  flex-direction: column;
}
.footer-logo {
  margin-top: 4rem;
  width: 15rem;
  height: 10rem;
}
.address {
  text-align: center;
  margin-top: 2rem;
}
.address p {
  font-size: 1.6rem;
  margin: 1rem 0;
  color: #fff;
}
.social-icon a {
  text-decoration: none;
}
.social-icon a img {
  padding: 1rem;
}

.social-icon a img:hover {
  animation: pulsate 0.5s ease-in-out;
  border-radius: 50%;
}

.top-corner-bean {
  position: absolute;
  left: 0;
  top: -2rem;
  transform: rotate(85deg);
  width: 5rem;
}
.logo-aside-bean {
  position: absolute;
  top: 5rem;
  right: 40rem;
  width: 5rem;
}
.bottom-left-bean {
  position: absolute;
  bottom: 1rem;
  left: -2rem;
  width: 10rem;
}
.bottom-right-bean {
  position: absolute;
  bottom: 1rem;
  right: -1.5rem;
  width: 5rem;
}
.middle-right-bean {
  position: absolute;
  top: 16rem;
  right: 20rem;
  width: 5rem;
}
@media only screen and (max-width: 600px){
  .logo-aside-bean {
    right: 5rem;
  }
  .middle-right-bean{
    right: 2rem;
  }
}
/* -------------End of Footer Section ----------------- */
